.title {
  margin-right: 16px;
}

.spacer {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.container {
  max-width: 1024px;
  margin: 1em auto;
}
